[submodule "/Users/shantanu/github/MyRepos/JAVAREMOTESCAN/sshDemo"]
	path = /Users/shantanu/github/MyRepos/JAVAREMOTESCAN/sshDemo
	url = git@github.com:ShantanuNimbalkar/SshDemo.git
[submodule "SshDemo"]
	path = SshDemo
	url = git@github.com:ShantanuNimbalkar/SshDemo.git
