name: Embold Scan on Branch Push

on:
  push:
    branches:
      - '*'

jobs:
  embold-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download and un-tar Embold Scanner
        run: |
          curl https://v1.embold.io/nfs/embold_1.9.17.0/CLI/embold-scanner-1.2.0-archive.tar.gz -o embold-scanner-1.2.0-archive.tar.gz
          mkdir -p ./embold-scanner && tar xvf embold-scanner-1.2.0-archive.tar.gz -C ./embold-scanner

      - name: Run Embold Scan
        run: |
          ./embold-scanner/bin/embold-scanner analyse \
            -u https://ng.emboldci.dev \
            -t eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTY5ODkxMjY2MjYyOSwiaWF0IjoxNjk4OTEyNjYyfQ.6VfL5l5DhsRFyBJiVyJvnBmPh60W50Oti-AL6OubD1MMg3sOJSDqEpsz3DLmI68AIHHAbIgK7LePc52e-VbgJg \
            -r d46fc849e68e557b2e2c557126f04a81 \
            -b $PWD \
            -d $PWD/embold-data \
            -c ./repository-configuration.json \
            -l ./embold-log \
            -sh ./embold-scanner-home

      - name: Check Embold Quality Gate
        run: |
          RED='\033[0;31m'
          GREEN='\033[0;32m'
          NC='\033[0m' # No Color

          response=$(curl --silent --location --request GET "https://ng.emboldci.dev/api/v1/repositories/d46fc849e68e557b2e2c557126f04a81/qualitygateprofiles/status" --header "Authorization:Bearer eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MTY5ODkxMjY2MjYyOSwiaWF0IjoxNjk4OTEyNjYyfQ.6VfL5l5DhsRFyBJiVyJvnBmPh60W50Oti-AL6OubD1MMg3sOJSDqEpsz3DLmI68AIHHAbIgK7LePc52e-VbgJg")
          if [ "$response" != 'passed' ]; then
              printf "Embold Quality gate ${RED}FAILED${NC}\n"
              exit 1
          fi
          printf "Embold Quality gate ${GREEN}PASSED${NC}\n"
